@charset "UTF-8";

#content{
	margin:10px;
	overflow:auto;
	border-radius:3px;
	background-color:#fff;
	width:70%;
	margin:auto;
}
#chattedPeopleList,#chatMessageBoxArea{
	float:left;
	border:1px solid gray;
	min-height: 100%;
    max-height: 100%;
}
#chattedPeopleList{
	width:30%;
/* 	padding-top: 10px; */
}
.item1{
	min-height:5%;	
	max-height:5%;	
	border-bottom:1px solid gray;
	text-align: center;
    background-color: #66c3c1;
    padding: 5px;
}


#search-box{
	margin:8px 15px;	
}
.item2{
	border-top:1px solid gray;
}
.item2-1{

	border-bottom:1px solid gray; 
}	
.chatMemberBox{
	border-bottom:1px solid gray;
	padding:5px;
	height: 58px;
	overflow: hidden;
}
.chatMemberBox:hover{
	background-color:#aba8a875;
}
.imgToken{
	float:left;
	
}
.chat-info{
	width:80%;
	float:right;
}
/* #chatterName{ */
/*     text-align: center; */
/*     background-color: #66c3c1; */
/*     padding: 5px; */
/*     border-bottom: 1px solid gray; */
/* } */
#chatMessageBoxArea{
	width:70%;
}

.text-chatPage{
	border:none;
	width: 75%;
	padding-left: 20px;
/* 	padding-top: 5px; */
	padding-bottom: 5px;
}
.text-chatPage:focus {
    outline: none !important;
}
.box-chatPage{
	padding: 1px 20px 0px 20px;
	border-bottom: 1px solid #b2b3b5;
	height: 85%;
	overflow:auto;	
}

.sendButton-chatPage{
	border:none;
	font-size: 18px;
	background-color:#20bdb9;
	border-radius:5px;
	color:#fff;
	width: 10%;
	float:right;
	margin-right: 20px;
}