@charset "UTF-8";

.chattbox {
	height: auto;
	padding-bottom: 20px;
}

.chattbox>div {
	width: 300px;
	height: auto;
	border: 3px solid rgb(0, 199, 196);
	text-align: center;
	padding: 20px;
	border-radius: 10px;
}

.chattbox>div>p {
	height: 240px;
	border: 2px solid #d0d0d0;
	border-radius: 5px;
}