/* your styles go here */
#navbar {
/* 	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); */
/* 	background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, */
/* 		rgba(243, 243, 243, 1) 50%, rgba(255, 255, 255, 1) 100%); */
/* 	box-shadow: 3px 0 10px -4px #000; */
	background-color:transparent;
}
.top-bar{
	background-color:#5a5a5a;
}


header.nav-holder.sticky {
	background-color:#ffffff;	
}
#navbar .navbar-nav > li > a{
	color:#7c7d7d;
	font-weight: 900;
	font-size: 1em;
}
#navbar .navbar-nav > li > a:hover{
	background-color:transparent;
	border-color:transparent;
	color:#13b5b1;
}
#navbar .navbar-nav > li > a:focus{
	background-color:transparent !important;
	border-color:transparent;
/* 	color:#129c99; */
}
header.nav-holder.sticky navbar-nav > li > a{
	color:rgba(100, 100, 100);
}
header.nav-holder.sticky navbar-nav > li > a:hover{
	color:#13b5b1;
}
.home-carousel{
	position: relative;
	top: -83px;
	z-index:-1;
		
}
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 50px;
	right: 100px;
	display: none;
	width: 40px;
	height: 40px;
	padding: 8px;
	background: #13b5b1;
	color: #fff;
	border-radius: 4px;
	border: none;
	margin-top: 10px;
}


.modal .modal-header h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #13b5b1;
}
#status {
	display:none;
/*   width:200px ; */
/*   height:200px ; */
  position:absolute;
  left:50%; 
  top:60%; 
/*   background-repeat:no-repeat; */
/*   background-position:center; */
  margin:-100px 0 0 -100px; 
}

#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */ 
}